html, body { margin: 0; padding: 0; }
body {
background-color: #F3E9DDAD;
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 30px;
    padding: 30px 25px;

}

.nav-items{
    list-style:none;
    display:flex;
    padding-right:10px;


}

.nav__link{
    padding:20px;
    color:#a87440;
    font-weight: bold;
    font-size:19px;
}
.HeadArea{
    display:flex;

}
.Head_textArea{
    margin-top:10%;
    margin-left:5%;
    margin-right:40px;
    max-width: 800px;
    line-height: 200%;

}

.fade-in-image{
    animation:fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.abountMeImg2{
    margin-top:40px;
    margin-left:60px;
    margin-bottom:40px;
    width: 40%;
    height:auto;
}


.title-word {
   animation: color-animation 4s linear infinite;
 }

 .title-word-1 {
   --color-1: #DF8453;
   --color-2: #3D8DAE;
   --color-3: #E4A9A8;
 }

 .title-word-2 {
   --color-1: #DBAD4A;
   --color-2: #ACCFCB;
   --color-3: #17494D;
 }


 @keyframes color-animation {
   0%    {color: var(--color-1)}
   32%   {color: var(--color-1)}
   33%   {color: var(--color-2)}
   65%   {color: var(--color-2)}
   66%   {color: var(--color-3)}
   99%   {color: var(--color-3)}
   100%  {color: var(--color-1)}
 }

 /* Here are just some visual styles. 🖌 */

 .container {
      place-items: right;
    text-align: right;
    margin-right:25%;
    margin-top:40px;

 }

 .title {
   font-family: "Chalkduster", sans-serif;
   font-weight: 700;
   font-size: 70px;
   text-transform: uppercase;
 }
